<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<context-param>
<param-name>defaultHtmlEscape</param-name>
<param-value>true</param-value>
</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>noBrowserCacheFilter</filter-name>
		<filter-class>com.ats.rusasoft.NoBrowserCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>noBrowserCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

 <filter>
      <filter-name>addHeaderFilter</filter-name>
      <filter-class>com.ats.rusasoft.AddHeaderFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>addHeaderFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    <filter>
		<filter-name>XSS</filter-name>
		<filter-class>com.ats.rusasoft.CrossScriptingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>XSS</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<error-page>
<error-code>404</error-code>
<location>/errors</location>
</error-page>

	<error-page>
<error-code>400</error-code>
<location>/errors</location>
</error-page>
<security-constraint>
        <web-resource-collection>
            <web-resource-name>All JSP direct access</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>DEBUG</http-method>
            <http-method>HEAD</http-method>
            <http-method>CATS</http-method>
            <http-method>JEFF</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>MKCOL</http-method>
            <http-method>LOCK</http-method>
             <http-method>LINK</http-method>
              <http-method>PATCH</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
                No Access
            </description>
        </auth-constraint>
    </security-constraint>


</web-app>
